/*

Tonjoo Property App Style
Copyright 2017 Tonjoo
Author: @prihatno96

DESCRIPTION:
This style is only used specifically in the section designated

*/

/* 

TABLE OF CONTENTS:

- Main Slider
- Simple Slider
- Main Search
- Secondary Search
- Popular Property
- Featured Room Around The World
- Featured Product
- Best Offer
- How to Buy
- Our Agent (About Us)
- Explore Section
- Advantages Section
- Partner Section
- Main Contact
- Testimony (no need style specific)
- Number
- About Us Page
- Archive Flex on Desktop
- Footer
- Theme Options
- Customizer

*/

// Main Slider
// ------------------------------------
.featured-property-slider,
#main-slider {
	padding: 0;
	overflow: hidden;

	&:before {
	    content: '';
	    width: 100%;
	    height: 100%;
	    // background: rgba(0, 0, 0, 0.4);
	    position: absolute;
	    top: 0;
	    left: 0;
	}

	.slider-item {
		position: relative;
		overflow: hidden;

		> img {
			height: auto;
			width: 100%;
			z-index: 0;
			display: block;
			max-height: 560px;
			object-fit: cover;
			
			// Make image bigger to cover propertly into container on small screen
			@media (max-width: $screen-sm-max) {
				height: 520px;
				width: auto;
				@include horizontal-center(relative);
			}
		}

		// Property Item width on slider is 360px
		.property-item {
			background-color: #fff;
			margin-bottom: 0;
			width: 360px;
			z-index: 1;
			@include vertical-center(absolute);

			.property-title {
				height: auto;
				font-size: 36px;
				line-height: 40px;
				max-height: 120px;
				overflow: hidden;
				margin: 0 0 24px;
				font-weight: bold;
				padding: 0;

				a {
					text-decoration: none;
					max-height: none;
				}
			}
			.property-description {
				margin-bottom: 60px;
				font-size: $font-size-medium;
				line-height: 24px;
				max-height: 72px;
				overflow: hidden;
			}
			.property-content,
			.property-heading {
				border: none;
			}
			.property-content {
				padding: 24px;
			}
		}
	}

	// Make slider navigation (Prev & Next) showed on mouse hover only on big screen
	@media (min-width: $screen-lg-min) {
		.slick-prev,
		.slick-next {
			opacity: 0;
			visibility: hidden;
		}
		.slick-prev {left: 48px;}
		.slick-next {right: 48px;}
		&:hover {
			.slick-prev,
			.slick-next {
				opacity: 1;
				visibility: visible;
			}
			.slick-prev {left: 0;}
			.slick-next {right: 0;}
		}
	}

	// Remove slider navigation on small screen (tablet - mobile)
	@media (max-width: $screen-sm-max) {
		.slick-prev,
		.slick-next {
			display: none !important;
		}
		.slider-item {
			.property-item {
				.property-title {
					font-size: $font-size-h2;
					height: auto;
					margin-bottom: 15px;
					line-height: 1;
					font-weight: bold;
					a {text-decoration: none;}
				}
				.property-description {
					margin-bottom: 15px;
					font-size: $font-size-base;
					line-height: 18px;
					max-height: 54px;
				}
			}
		}
	}
	@media (max-width: $screen-xs-max) {
		.slider-item {
			height: 520px;
			.property-item {
				width: 290px;
				left: 50%;
				margin-left: -145px;
				.property-title,
				.property-description {
					text-align: center;
				}
				.property-title {
					font-size: $font-size-h2;
					height: auto;
					margin-bottom: 15px;
					line-height: 1;
					font-weight: bold;
					a {text-decoration: none;}
				}
			}
		}
	}
}

/* Property Simple Search
------------------------------------ */
.property-simple-search {
	// @extend %section-overlay;

	// &:before {background-color: rgba(#000, 0.3)}

	.content-wrapper {
		@extend .container;
		position: relative;
		z-index: 1;
		// padding: 144px 48px 168px;
		margin: 0 auto;

		@media (max-width: $screen-sm-max) {
			padding: 48px 0 48px;
		}
	}
	.title,
	.description {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 940px;
	}
	.title {
		font-size: 48px;
		line-height: 60px;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 24px;
		color: #fff;

		@media (max-width: $screen-xs-min) {
			font-size: 30px;
			line-height: 36px;
			margin-bottom: 12px;
		}
	}
	.description {
		text-align: center;
		color: #fff;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 24px;
	}
	.property-search-form {
		padding: 18px;
		background-color: rgba($brand-secondary, 0.8);

		.btn-submit {
			@extend %bg-primary;
			font-size: 16px;
			line-height: 24px;
		}
		.btn-submit i {
			font-size: 24px;
			line-height: 16px;
			margin-right: 8px;
			position: relative;
			top: 2px;
		}

		@media (min-width: $screen-md-min) {
			.form-inline {
				display: flex;

				.form-control {border: none;}
				.form-control,
				button[type=submit] {width: 100%;}

				.form-group {
					flex: 1;

					.form-control {border-right: 2px solid $gray-lighter;}

					&:nth-last-child(2) .form-control {border-right: none;}
				}
				.text-column {flex: 2;}
				.submit-column {
					padding-left: 18px;
					max-width: 170px;
				}
			}
		}
		@media (max-width: $screen-xs-max) {
			.form-group:last-child {margin-bottom: 0;}
			.btn-submit {width: 100%;}
		}
	}
}

/* Simple Slider
------------------------------------ */
.simple-slider {
	padding-bottom: 0;

	.slider-item {
		// @include bg-overlay(0.5);

		> img {
			display: block;
			width: 100%;
			height: auto;
			max-height: 540px;
			object-fit: cover;
		}
	}
}

/* Property Search Results */
#property-search-result {
	#map {
		height: 460px;
		@media (max-width: $screen-xs-max) {
			height: 300px;
		}
	}
	.map-wrapper {
		position: relative;

		.loader {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background-color: rgba(#000, 0.6);
			display: none;

			.spinner {
				@include center-middle;
				z-index: 1;
			}
		}
	}
	&.archive-property {
		.search-tabmenu {margin-top: -49px;}
	}
	.search-tabmenu {
		.form-body {
			@include clearfix;
			padding: 24px 0;

			> .row {margin-bottom: 0;}
		}

		.tabmenu-header {background-color: transparent;}
	}
	.advanced-search {
		display: none;

		> label {
			margin-bottom: 12px;
			display: block;
		}
		.checklist-box {
			@include clearfix;
			list-style: none;
			padding-left: 0;
			margin-bottom: 12px;

			li {
				width: calc(100% / 6);
				float: left;
				margin-bottom: 18px;

				@media (max-width: $screen-sm-max) {
					width: calc(100% / 3);
				}
				@media (max-width: $screen-xs-max) {
					width: 100%;
					float: none;
				}
				label {
					margin-bottom: 0;
					text-transform: none;
				}
			}
		}
	}
	.btn-toggle-search {
		display: inline-block;
		vertical-align: middle;
		margin: 12px 0;
		text-decoration: none;

		&:before {
			content: $fa-var-chevron-down;
			font-family: $font-family-fontawesome;
			display: inline-block;
			margin-right: 8px;
		}

		&.active:before {content: $fa-var-chevron-up;}
	}
	.submit-box {
		@include clearfix;
	}

	@media (max-width: $screen-xs-min) {
		.filter-panel {
			text-align: center;
			.pull-left {
				float: none !important;
			}
			.pull-right {
				float: none !important;
			}
		}
	}

	.property-list {
		.property-item {margin-bottom: 24px;}
	}

	/* sidebar map version */
	&.sidebar-map {
		.search-tabmenu {
			margin-top: 24px;
		}
		.search-tabmenu .form-body {
			padding-left: 24px;
			padding-right: 24px;
		}
		.page-section {padding-top: 24px;}
		.advanced-search {
			.checklist-box li {
				width: calc(100% / 4);
			}
		}
		@media(min-width: 1367px) {
			.col-lg-6.col-md-6.col-sm-6 {
				width: 33.3333333333%;
				&:nth-of-type(2n+1) {
					clear: none;
				}
				&:nth-of-type(3n+1) {
					clear: both;
				}
			}
		}
		@media(min-width: $screen-lg-min) and (max-width: 1399px) {
			.property-item {
				.img-box {
					.label-property-status {
						a {
							&.lps-type {
								display: block;
								margin-bottom: 8px;
							}
						}
					}
				}
			}
		}	
		@media (min-width: $screen-md-min) {
			display: flex;

			.sidebar-map-content,
			.search-result-content {
				position: relative;
			}
			.sidebar-map-content {
				width: 34%;
				left: 66%;
				.container {
					max-width: 100%;
				}
			}
			.search-result-content {
				right: 34%;
				width: 66%;
				padding-left: 24px;
				padding-right: 24px;
				.container {
					max-width: 100%;
				}
			}
			.map-wrapper {
				position: fixed;
				top: 175px;
				left: auto;
				right: 0;
				width: 34%;

				#map {
					height: 100vh;
					@include transition-set(0.2s);
				}

				&.sticky-off {
					position: absolute;
					width: 100%;
					bottom: 0;
				}
			}
		}
	}
}


/* Main Search
------------------------------------ */
#main-search {
	@extend %section-overlay;
	top: -2px; // fallback black line issue in safary

	// Make margin to header bigger on big screen
	@media (min-width: $screen-md-min) {
		padding-top: 156px;

		.nav-tabs a {text-align: center;}
		.btn-submit {min-width: 180px;}
	}
}

/* Secondary Search
------------------------------------ */
#secondary-search {
	padding: 0 0; // Remove padding top & bottom from default padding on class `page-section`

	@media (max-width: $screen-xs-max) {
		.tabmenu-header .container {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

// Popular Property
// ------------------------------------
#popular-property {
	// Add margin-bottom on popular property section
	.property-item {
		margin-bottom: 24px;
	}
}

// Featured Room Around The World
// ------------------------------------
#featured-room {
	// Add margin-bottom on property item section
	.property-item {
		margin-bottom: 24px;
	}
}

// Featured Product
// ------------------------------------
#featured-property {
	.property-item {
		.property-header,
		.property-footer {
			position: absolute;
		}
		.property-header {
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 24px 24px 6px;

			.item-title {
				margin: 6px 0 0;
				text-decoration: none;
				display: block;
				color: #fff;
			}

			.item-price {
				font-size: $font-size-xlarge;
				line-height: 1;
				font-weight: 600;
				color: #fff;
				margin-top: 12px;
				margin-bottom: 12px;
			}
		}
		.property-footer {
			bottom: 15px;
			left: 15px;
			right: 15px;
			display: block;
			border-color: #fff;

			[class*="item-"] {
				color: #fff;
				border-color: #fff;
			}
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.9+100 */
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 90%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.8) 90%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.8) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000',GradientType=0 ); /* IE6-9 */
			height: 100%;
			z-index: 0;
			@extend %transition-opacity;
		}
		&:hover:before {
			opacity: 1;
		}
	}
	@media (min-width: $screen-md-min) {
		.multiple-item {
			margin-bottom: -30px;

			.property-item {margin-bottom: 24px;}
			.property-item .item-img {
				height: 248px;
				margin-bottom: 24px;
			}
		}
	}
	@media (max-width: $screen-sm-max) {margin-bottom: -30px;} // Reduced margin bottom to have equal margin top and bottom on medium screen
	@media (max-width: $screen-xs-max) {margin-bottom: -15px;} // Reduced margin bottom to have equal margin top and bottom on small scren
}

// Best Offer
// ------------------------------------
#best-offer {
	@media (max-width: $screen-sm-max) {margin-bottom: -30px;} // Reduced margin bottom to have equal margin top and bottom on medium screen
	@media (max-width: $screen-xs-max) {margin-bottom: -15px;} // Reduced margin bottom to have equal margin top and bottom on small scren
}

// How to Buy
// ------------------------------------
#howto-buy {
	@extend %section-overlay;
}

// Our Agent (About Us)
// ------------------------------------
#our-agent {
	@extend %section-overlay;
	padding-bottom: 0;

	.profile-box {
		overflow: hidden;
	}
	@media (max-width: $screen-sm-max) {
		.profile-box {
			margin-bottom: 24px;
		}
	}
	@media (max-width: $screen-xs-min) {
		.profile-box {
			margin-bottom: 15px;
		}
	}
}

// Explore Section
// ------------------------------------
#explore {
	padding-bottom: 48px; // Reduced margin bottom to have equal margin top and bottom
}

// Advantages Section
// ------------------------------------
#advantages {
	border-top: 1px solid $gray-lighter;
	padding-bottom: 48px; // Reduced margin bottom to have equal margin top and bottom
}

// Partner Section
// ------------------------------------
#partner {
	@extend %section-overlay;

	.partner-item {
		text-align: center;

		a {
			display: block;
			img {
				display: block;
				margin: 0 auto;
				max-width: 100%;
				@include transition-set(0.2s);
			}
			&:hover {
				border-color: #fff;
				img {opacity: 0.6;}
			}
		}
	}
}

// Main Contact
// ------------------------------------
#main-contact {
	padding-bottom: 0;
	@extend %section-overlay;

	// Profile Box inside Panel Box
	.panel-box {
		width: 100%;
		position: relative;
		
		.panel-body {
			> .profile-box {
				position: static;
				> .profile-contact {
					@include clearfix;
					position: relative;
					text-align: left;

					@media (max-width: $screen-xs-max) {
						text-align: center;
					}

					li {
						display: inline-block;
						width: auto;
						margin-right: 12px;
					}
				}
			}
		}

		@media (min-width: $screen-md-min) {
			.panel-body > .profile-box .profile-contact {
				position: absolute;
				z-index: 2;
				left: 0;
				bottom: 0;
				right: 0;
				margin: 0;
				padding: 18px 24px;
			}
		}
	}
}

// Testimony
// ------------------------------------
#testimony {
	&.bg-image {
		.testimony-profile {
			color: #FFF;
		}
	}
}

// Number
// ------------------------------------
#number {
	@extend %section-overlay;

	@media (max-width: $screen-sm-max) {
		.number-box {margin-bottom: 24px;}
	}
	@media (max-width: $screen-xs-max) {
		.number-box {margin-bottom: 15px;}
	}
}

// About Us Page
// ------------------------------------
#about-us {
	padding: 0;
	@extend %bg-secondary;

	.about-brand {
		border-left: 1px solid rgba(#fff, 0.2);
		border-right: 1px solid rgba(#fff, 0.2);
		height: 200px;
		display: block;
		position: relative;
		text-align: center;
		@extend %bg-tertiary;

		a {
			display: inline-block;
			@include vertical-center(relative);
			img {
				display: block;
				margin: 0 auto;

				max-width: 100%;
			}
		}
	}
	.about-content {
		height: 200px;
		vertical-align: middle;
		display: table-cell;

		> p {
			font-size: 24px;
			line-height: 1.3;
			display: inline-block;
			vertical-align: middle;
			width: 75%;
			padding-right: 24px;
			margin-bottom: 0;
		}
		> .btn {
			display: inline-block;
			min-width: 150px;
			@extend %bg-primary;
			@extend %btn-hover-primary;
		}
	}
	@media (max-width: $screen-sm-max) {
		.about-brand {
			border-bottom: 1px solid rgba(#fff, 0.2);
			padding: 48px 30px;
		}
		.about-content {
			text-align: center;
			padding-top: 30px;
			padding-bottom: 48px;
			display: block;
			height: auto;

			> p {
				display: block;
				text-align: center;
				width: 100%;
				padding-right: 0;
				margin-bottom: 24px;
			}
		}
	}
	@media (max-width: $screen-xs-max) {
		.about-brand {
			border-left: none;
			border-right: none;
			margin-left: -12px;
			margin-right: -12px;
		}
	}
}

// Archive Flex on Desktop
// -----------------------------------
.archive-flex {
	@media (min-width: $screen-sm-min) {
		.row {
			display: flex;
			flex-wrap: wrap;

			.property-item {
				border-bottom: 1px solid #EFEFEF;
				@include box-shadow(0 1px 1px rgba(0,0,0,.05));
				height: calc(100% - 24px);

				.property-content {
					@include no-box-shadow;
					border-bottom: 0;
				}
			}
		}
	}
}

// Footer
// ------------------------------------
#footer {
	border-top: 1px solid rgba(#fff, 0.2);
	@extend %bg-secondary;

	.footer-body {
		padding: 72px 0;
	}
	.footer-column {
		.footer-title {
			font-size: $font-size-large;
			text-transform: uppercase;
			margin-top: 0;
			font-weight: 600;
			margin-bottom: 24px;
			@extend %color-primary;
		}
		.footer-brand {
			margin-bottom: 24px;
			display: block;
		}
		&.col-md-2 {
			ul {
				list-style: none;
				padding: 0;

				> li {
					margin-bottom: 12px;

					> a {
						color: #fff;
						line-height: 1.1;
						text-transform: uppercase;
						display: inline-block;
						border-bottom: 1px solid rgba(#fff, 0.2);

						&:hover {
							text-decoration: none;
							border-bottom-color: rgba(#fff, 0.8);
						}
					}
				} 
			}
		}
		.gallery-photo {
			list-style: none;
			padding: 0;
			margin: 0;
			font-size: 0;
			@include clearfix;

			li {
				display: inline-block;
				width: 33%;
				float: left;

				a {
					display: block;
					border: 2px solid transparent;

					img {
						display: block;
						width: 100%;
						height: auto;
					}
					&:hover {
						img {opacity: 0.5;}
					}
				}
			}
		}
	}
	.copyright {
		border-top: 1px solid rgba(#fff, 0.2);
		padding: 24px 0;

		p,a {
			text-transform: uppercase;
			display: inline-block;
		}
		a {
			color: #fff;
			float: right;
			@extend %hover-primary;
		}
		@media (max-width: $screen-xs-min) {
			text-align: center;

			a {float: none;}
			p {
				display: block;
				width: 100%; 
			}
		}
	}
	@media (max-width: $screen-sm-max) {
		.footer-column {
			margin-bottom: 24px;

			.footer-title {margin-bottom: 15px;}
		} 
	}
	@media (max-width: $screen-xs-max) {
		.footer-body {
			padding: 48px 0;
		}
	}
	@media (max-width: $screen-xs-min) {
		.footer-body {
			padding: 48px 0 30px;

			.footer-column {
				text-align: center;
			}	
		}
	}
}

@media (min-width: $screen-md-min) {
	.position-md-absolute {
		position: absolute;
		width: 100%;
		&#footer {
			margin-top: 200px;
		}
	}
}

// Theme Options
// ------------------------------------
.theme-options {
	background-color: #fff;
	list-style: none;
	padding: 0;
	z-index: 9999;
	border: none;
	@include clearfix;
	margin: 0;
	> li {
		display: inline-block;
		float: left;
		margin-bottom: 6px;
		margin-right: 6px;

		&:last-child {margin-bottom: 0;}
		a {
			display: block;
			width: 30px;
			height: 30px;
			font-weight: bold;
			border: 2px solid transparent;
			color: #fff;
			text-decoration: none !important;
			&#brand-default {
				background-color: $brand-primary;
				&:hover,
				&.active {
					color: $brand-primary;
					background-color: transparent;
					border-color: $brand-primary;
				}
			}
			&#brand-green {
				background-color: $brand-green-primary;
				&:hover,
				&.active {
					color: $brand-green-primary;
					background-color: transparent;
					border-color: $brand-green-primary;
				}
			}
			&#brand-yellow {
				background-color: $brand-yellow-primary;
				&:hover,
				&.active {
					color: $brand-yellow-primary;
					background-color: transparent;
					border-color: $brand-yellow-primary;
				}
			}
			&#brand-red {
				background-color: $brand-red-primary;
				&:hover,
				&.active {
					color: $brand-red-primary;
					background-color: transparent;
					border-color: $brand-red-primary;
				}
			}
			&#brand-orange {
				background-color: $brand-orange-primary;
				&:hover,
				&.active {
					color: $brand-orange-primary;
					background-color: transparent;
					border-color: $brand-orange-primary;
				}
			}
		} 
	}
}

// Customizer
// ------------------------------------
#customizer {
	float: right;
	width: 250px;
	height: 100vh;
	background-color: #FFF;
	z-index: 999999;
	color: #000;
	position: fixed;
	right: -250px;
	top: 0;
	@include transition(.5s);
	&.customizer-open {
		right: 0px;
		@include panel-shadow(-1px 1.732px 4px 0 rgba(0,0,0,.1));
		&.view-setting {
			#setting-panel {
				background-color: #f7f7f7;
			}
		}
	}
	// Customizer Panel
	#customizer-panel {
		width: 50px;
		height: 50px;
		background-color: #FFFFFF;
		text-align: center;
		line-height: 50px;
		position: absolute;
		display: block;
		margin-left: -50px;
		top: 50vh;
		margin-bottom: -101px;
		cursor: pointer;
		@include transition(.3s);
		@include panel-shadow(-2px 2px 3px 0 rgba(0,0,0,.1));

		&:hover {
			background-color: darken(#FFF, 1%);
		}

		@media (max-width: $screen-xs-max) {
			top: 200px;
		}
	}
	// Customizer Body
	.customizer-body {
		padding: 24px;
		height: inherit;
		overflow-y: auto;
		#close-customizer {
			position: absolute;
			right: 12px;
			top: 12px;
			font-size: 20px;
			height: 20px;
			line-height: 20px;
			a {
				&:hover {
					cursor: pointer;
				}
			}
		}
		.customizer-title {
			margin-top: 0;
			border-bottom: 1px solid $gray-lighter;
			padding-bottom: 12px;
		}
		.desc-customizer {
			margin-top: 15px;
			margin-bottom: 30px;
			.buy-template {
			    border: 3px solid;
			    @include border-radius(5px);
			    padding: 6px 24px;
			    display: inline-block;
			    font-weight: 700;
			    margin-bottom: 30px;
			}
		}
		// Custom Toggle
		.toggle-input {
			display: none;
            &:checked + label {
	            background-color: #f2f2f2;
	            span {
	            	left: 37px;
	            	&:before {
	            		content:'ON';
	            		position: absolute;
	            		left: -25px;
						top: 0;
						color: #111;
						font-size: 12px;
						line-height: 20px;
	            	}
	            	&:after {
	            		content: none;
	            	}
	            }
	        }
		}
		.toggle-label {
			width: 55px;
            height: 20px;
            border-radius: 10px;
            border: 1px solid #ccc;
            display: block;
            position: relative;
            span {
            	display: block;
	            width: 18px;
	            height: 18px;
	            position: absolute;
	            left: 0;
	            top: 0;
	            border-radius: 50%;
	            @include transition(.3s);
	            &:before {
            		content: none;
            	}
            	&:after {
            		content:'OFF';
            		position: absolute;
            		right: -25px;
            		top: 0;
            		color: #111;
            		font-size: 12px;
            		line-height: 20px;
            	}
            }
            &:hover {
            	cursor: pointer;
            }
		}
		// Toggle for Sticky Option
		.option-sticky-toggle{
			#sticky-option {
	            @extend .toggle-input;
	        }
	        label {
	            @extend .toggle-label;
	        }
		}
		.option-box {
			margin-top: 0;
			margin-bottom: 24px;
			.title {
				margin-top: 24px;
				margin-bottom: 12px;
			}
			.btn-group {
				.btn {
					text-transform: none;
					&.dropdown-toggle {
						width: 190px;
						text-align: left;
						@include border-radius(5px);
						padding-top: 7px;
						padding-bottom: 7px;
						span.caret {
							position: absolute;
							right: 15px;
							top: 17px;
						}
					}
				}
				li a {
					padding: 7px 15px;
					width: 190px;
				}
			}
			.toggle {
				width: 60px;
				min-height: 23px;
				height: 23px;
				@include border-radius(20px);
				&.off {
					.toggle-group {
						left: -68%;
					}
				}
				.toggle-group {
					width: 168%;
					.btn-sm {
						@include border-radius(20px);
						padding: 0px 8px;

					}
				}
			}
			&.option-header {
				#header-style {
					a {
						color: $brand-primary;
						&:hover,
						&:focus {
							color: darken($brand-primary, 8%);
						}
					}
				}
			}
			&.option-reset {
				#reset-button {
					width: 190px;
					display: inline-block;
					padding-top: 6px;
					padding-bottom: 6px;
				}
			}
		}
	}
}

// Header Style
// ------------------------------------
body {
	&.header-1 {
		.topbar-1 {
			display: block;
		}

		.topbar-2,
		.topbar-3 {
			display: none;
		}
	}

	&.header-2 {
		.topbar-2 {
			display: block;
		}

		.topbar-1,
		.topbar-3 {
			display: none;
		}
	}

	&.header-3 {
		.topbar-3 {
			display: block;
		}

		.topbar-1,
		.topbar-2 {
			display: none;
		}
	}
}